* { margin: 0;
   padding: 0;
    border: 0;
    font-size: 100%; }

body {
  font-family: 'Playball', cursive;
  background-color: #48D1CC;

  background-image: url("../images/Laughing-at-a-Christian.jpg");
  padding: 0px 75px;
  background-position:-10px -150px;
  
}
h5 {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  top: 75%;
  width: 100%;
  font-size: 280px;
}

.camel {
  background-image: url("images/Laughing-at-a-Christian.jpg");
}


img {
  float: left;
  width:  100px;
  height: 300px;
  object-fit: cover;
}
#header{
  height: 10vh;
  width: 1260px;
  max-width: 100%;
  }
.responsive-image {
  max-width: 100%;
}
.center {
  text-align: center;
  max-width: 100%;
  
}

.centeri {
  text-align: center;
  max-width: 100%;
  font-size: 32px;
  color: #fff;
  background-image: url("../images/timothy-dykes-92e1-OFbXAU-unsplash.jpg") ;
  padding: 48px;
}
.left {
  text-align: left;
  
}
.right {
  text-align: right;
  margin-bottom: auto;
  
}
*{
  box-sizing: border-box;
}

.column {
  margin: 0 auto;
  width: 32.5%;
  padding: 20px; 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
.border { 
  border: 5px solid rgb(255, 255, 255); 
  background-image: url("../images/2.jpg");
    background-size: cover;

}
header {
  background-image: url("../images/timothy-dykes-92e1-OFbXAU-unsplash.jpg");
  background-size: cover;
   color:#fff; 
   display:flex; 
   position: relative;
   max-width: 100%;
   margin-bottom:1em; 
   
  
}
h3{
  text-align: center;
  
}

.my-id {
  border: 5px dotted rgb(255, 255, 255); 
  padding-top: 3em;
}

